@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 40px;
  min-height: 100%;
  font-family: "Rubik", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.header {
  width: 1160px;
  min-height: 300px;
  background: #FFE17F;
  position: relative;
}

.header-logo {
  color: #000000;
  position: absolute;
  top: -19px;
  left: 60px;
}

.header-logo:hover,
.footer-logo:hover {
  opacity: 0.8;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 44px 60px 0;
  margin: 0;
}

.header-form {
  display: flex;
  width: 518px;
  height: 42px;
}

.header-input {
  width: 363px;
  padding-left: 46px;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 50px 0 0 50px;
  color: #000000;
  border: 2px solid #000000;
  border-right: 2px solid #000000;
  background: #FFE17F;
}

.header-button {
  width: 185px;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
  border-left: 0;
  background: #FFE17F;
  cursor: pointer;
}

.header-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 236px;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  list-style: none;
}

.header-item-enter {
  margin-left: 4px;
  margin-right: 18px;
}

.header-link {
  text-decoration: none;
  color: #000000;
}

.header-link:hover {
  opacity: 0.3;
}

.header-icon {
  margin-right: 8px;
}

.header-item-busket {
  margin-left: 32px;
}

.header-item-button {
  cursor: pointer;
  padding: 0;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  border: none;
  background: #FFE17F;
}

.counter {
  position: absolute;
  top: 55px;
  right: 157px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', Arial, sans-serif;
  ;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  background: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.popover:after {
  content: '';
  background-image: url("images/vector/triangle.svg");
  width: 14px;
  height: 6px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.popover {
  position: absolute;
  left: 860px;
  top: 85px;
  background-color: #000000;
  width: 320px;
  z-index: 2;
}

.popover-wrapper {
  padding: 0 20px 0;
}

.popover-figure {
  display: grid;
  grid-template-columns: 62px 160px;
  grid-template-rows: 83px;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.popover-close-button {
  cursor: pointer;
  position: absolute;
  background-image: url("images/vector/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 30px;
  height: 30px;
  background-color: #000000;
}

.button-1 {
  top: 20px;
  right: 20px;
}

.button-2 {
  top: 94px;
  right: 20px;
}

.shopping-basket {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 44px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 20px;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #1A1A1A;
}

.popover-definition {
  margin: 0;
  margin-left: 3px;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.popover-definition-product {
  margin-right: 80px;
}

.basket-button-wrapper {
  padding: 20px;
}

.basket-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 25px;
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  background: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.navigation {
  padding: 44px 56px 148px 60px;
  position: relative;
}

.catalog-button {
  position: absolute;
  top: 29px;
  left: 303px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #FFE17F;
  border-radius: 50%;
  border: 2px solid #000000;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 0.5;
  z-index: 3;
}

.catalog-button::before,
.catalog-button::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #000000;
  top: 22px;
  left: 16px;
}

.catalog-button::before {
  transform: rotate(90deg);
}

.catalog-button:active:before {
  transform: rotate(360deg);
}

.subcatalog-shown {
  display: none;
}

.subcatalog-wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: 253px 200px 193px auto auto auto;
  left: 0;
  width: 1160px;
  min-height: 166px;
  z-index: 2;
  background: rgb(255, 225, 127);
  justify-items: end;
  align-items: start;
  align-content: space-between;
}

.subcatalog {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  line-height: 36px;
  list-style: none;
}

.subcatalog-link {
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  margin-top: -29px;
  padding: 0;
  list-style: none;
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-item-delivery {
  margin-right: 47px;
}

.catalog-item-garanty {
  margin-right: 46px;
}

.catalog-link {
  text-decoration: none;
  color: #000000;
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 1160px;
  margin: 0;
}

.slider-wrapper {
  position: relative;
}

.slider-prev {
  position: absolute;
  z-index: 1;
  top: 41px;
  left: 10px;
  padding: 20px;
  cursor: pointer;
  border: none;
  background: #FFFFFF;
}

.slider-next {
  position: absolute;
  z-index: 1;
  left: 521px;
  top: 38px;
  padding: 20px;
  cursor: pointer;
  transform: rotate(180deg);
  border: none;
  background: #FFFFFF;
}

.product-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 40px;
  padding-bottom: 70px;
  min-height: 324px;
}

.slider-1 {
  margin-top: -150px;
}

.slider-2 {
  margin-top: -150px;
}

.slider-3 {
  margin-top: -150px;
}

.product-number {
  position: absolute;
  right: 49px;
  top: -68px;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
}

.slogan {
  position: relative;
  margin: 0;
  margin-top: -28px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slogan-2 {
  width: 287px;
}

.slogan-3 {
  width: 437px;
}

.slider-text {
  margin: 0;
  margin-top: 28px;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.yellow-element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8px;
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background: #FFE17F;
}

.more-detailed {
  margin-top: 67px;
  width: 220px;
}

.specifications {
  margin: 0;
  margin-top: 65px;
  display: flex;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.specifications-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.specifications-wrapper-width {
  margin-right: 41px;
}

.specifications-wrapper-weight {
  margin-right: 38px;
}

.specifications-definition {
  order: -1;
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.slider-list {
  position: absolute;
  right: -215px;
  bottom: 281px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  list-style: none;
}

.slider-item {
  margin-left: 10px;
  margin-right: 10px;
  width: 11px;
  height: 8px;
}

.real-radio-btn {
  opacity: 0;
}


.radio-btn {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  vertical-align: text-top;
}

.radio-btn::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #000000;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

.real-radio-btn:checked + .radio-btn::before {
  transform: translate(-50%, -50%) scale(1);
}

.slider-input[type="radio"] + .slider-mark {
  border-radius: 50%;
}

.hidden {
  display: none;
}

.products {
  min-height: 425px;
}

.product-wrapper {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  gap: 40px;
  width: 1160px;
}

.product-figure {
  margin: 0;
  padding: 0;
}

.figure-wrapper {
  margin: 0;
  margin-bottom: 33px;
  display: flex;
  width: 160px;
  height: 160px;
  align-items: center;
  justify-content: center;
  background: #FFE17F;
}

.product-figcaption {
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.figure-wrapper:hover {
  background: #FFC700;
}

.products-link-virtual {
  width: 97px;
  height: 55px;
  content: url("images/vector/virtual.svg");
}

.products-link-selfie {
  margin-top: 42px;
  width: 86px;
  height: 117px;
  content: url("images/vector/selfie.svg");
}

.products-link-action {
  width: 71px;
  height: 87px;
  content: url("images/vector/action.svg");
}

.products-link-fitness {
  width: 107px;
  height: 65px;
  content: url("images/vector/fitness.svg");
}

.products-link-smart {
  width: 56px;
  height: 98px;
  content: url("images/vector/smart.svg");
}

.products-link-copter {
  width: 132px;
  height: 69px;
  content: url("images/vector/copter.svg");
}

.shipping {
  background-color: #FFFFFF;
}

.shipping-container {
  position: relative;
  width: 1440px;
  background: #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shipping-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  width: 1160px;
  min-height: 289px;
}

.shipping-list {
  margin: -107px 0 0 -67px;
  padding: 0;
  list-style-type: none;
}

.shipping-list::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  left: 280px;
  top: -101px;
  background: #000000;
}

.shipping-item {
  margin-top: 55px;
}

.shipping-item-garanty,
.shipping-item-credit {
  margin-bottom: 37px;
  margin-top: 38px;
}


.custom-btn {
  position: relative;
  width: 160px;
}

.custom-btn::before {
  content: '';
  position: absolute;
  left: 87%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
  align-items: center;
  padding-left: 18px;
  width: 267px;
  height: 40px;
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFE17F;
  border: none;
  background: #000000;
}

.real-btn:checked + .custom-btn::before {
  transform: translate(-50%, -50%) scale(1);
}

.chosen:checked {
  align-items: center;
  padding-left: 18px;
  width: 280px;
  height: 40px;
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFE17F;
  border: none;
  background: #000000;
}

.real-btn {
  opacity: 0;
}

.shipping-title {
  position: relative;
  top: -28px;
  margin: 0 345px 0 0;
  width: 448px;
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  word-break: break-word;
  color: #000000;
}

.shipping-image {
  visibility: hidden;
}

.shipping-image::before {
  position: absolute;
  right: 63px;
  top: -24px;
  content: url("images/vector/delivery.svg");
  visibility: visible;
  width: 136px;
  height: 164px;
}

.shipping-text {
  margin: 0;
  margin-top: -25px;
  margin-left: 103px;
  width: 427px;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.warranty-image {
  visibility: hidden;
}

.warranty-image::before {
  position: absolute;
  right: 28px;
  top: -40px;
  content: url("images/vector/warranty.svg");
  visibility: visible;
  width: 171px;
  height: 195px;
}

.warranty-title {
  left: -3px;
}

.warranty-text {
  width: 480px;
}

.credit-image {
  visibility: hidden;
}

.credit-image::before {
  position: absolute;
  right: 28px;
  top: -37px;
  content: url("images/vector/credit.svg");
  visibility: visible;
  width: 156px;
  height: 188px;
}

.credit-title {
  left: -27px;
}

.credit-text {
  width: 475px;
}

.shipping-product-wrapper {
  width: 1440px;
  background-color: #FFFFFF;
  min-height: 170px;
  text-align: center;
  position: relative;
}

.shipping-product-button {
  padding: 0;
  margin-top: 70px;
  width: 1160px;
  min-height: 100px;
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: linear-gradient(to left, #F0F0F0 89.3%, #FFE17F 10.7%);
  border: none;
  cursor: pointer;
}

.shipping-product-button::before {
  position: absolute;
  bottom: 34px;
  left: 179px;
  content: url("images/vector/auto.svg");
  width: 47px;
  height: 31px;
}

.modal-open {
  display: inline-block;
  position: absolute;
  top: 100px;
  right: 183px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5);
  color: #A9A9A9;
  border: none;
  cursor: pointer;
}

.information-section {
  display: flex;
  flex-direction: row;
  width: 1160px;
}

.information {
  padding: 117px 65px 132px 0;
}

.information-title,
.contacts-title {
  margin: 0;
  margin-bottom: 48px;
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.information-text,
.contacts-text {
  margin-bottom: 31px;
  width: 498px;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.information-text {
  margin-bottom: 29px;
}

.information-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.information-item::before {
  font-size: 29px;
  content: "•";
  color: #FFC700;
  padding-right: 21px;
}

.information-item {
  margin-bottom: 14px;
}

.information-link {
  text-decoration: none;
  color: #000000;
}

.shipping-link-1 {
  margin-top: 46px;
  width: 270px;
}

.shipping-link-2 {
  margin-top: 44px;
  width: 259px;
}

.contacts {
  padding: 117px 65px 85px 65px;
}

.contacts-title {
  width: 256px;
  word-wrap: break-word;
}

.contacts-paragraph {
  margin: 30px 0 0 0;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-adress {
  margin: 14px 0 0 0;
  width: 516px;
}

.subscribe {
  display: flex;
  justify-content: center;
  width: 1440px;
  min-height: 421px;
  background: #F0F0F0;
}

.subscribe-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
}

.subscribe-text-container {
  width: 1160px;
  padding: 65px 27px 89px 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscribe-title {
  margin: 0;
  width: 348px;
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-text {
  margin: 0;
  margin-top: 10px;
  width: 528px;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.subscribe-form {
  display: flex;
  width: 811px;
  height: 60px;
}

.input-text {
  width: 557px;
  padding-left: 17px;
  font-family: 'Rubik', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
  border: 3px solid #C4C4C4;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #F0F0F0;
}

.subscribe-button {
  width: 261px;
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border: 3px solid #d3d3d3;
  background: #F0F0F0;
  cursor: pointer;
}

.check-mark-text {
  margin-top: 15px;
}

.footer-logo {
  color: #FFC700;
}
